{{ define "main" }}
<main>
    
    
    <section>
        <h1 class="bg-primary    padding--lg">
            {{ .Title }}
        </h1>
        <div class="grid-container">
            <div class="text-left    container-inner    col-span-2">
                {{ .Content }}
                {{ if .Params.toggle_card_list_section }}
                {{ partial "card-list.html" . }}
                {{ end }}
            </div>
            <div class="container-inner">
                <h2 class="h3">
                    My Services:
                </h2>
                {{ range where .Pages "Section" "!=" "" }}
                <ul class="list-group">
                    <li class="card   bg-light">
                        <h3 class="h4">
                            <a href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </h3>
                    </li>
                </ul>
                {{ end }}
            </section>
            
            {{ if .Params.about }}
            {{ partial "about.html" . }}
            {{ end }}
            
            {{ if .Params.contact }}
            {{ partial "contact.html" . }}
            {{ end }}
            
        </main>
        {{ end }}
        