{{ define "main" }}
<main>
    
    {{ partial "intro.html" . }}
    
    {{ if .Params.toggle_services }}
        {{ partial "services.html" . }}
    {{ end }}
    
    <section class="banner-alt">
            <div class="container">
                <div class="container-inner   measure">
                    {{ .Content }}
                </div>
                {{ if .Params.toggle_card_list_section }}
                    {{ partial "card-list.html" . }}
                {{ end }}
            </div>
    </section>
    
    {{ if .Params.about }}
        {{ partial "about.html" . }}
    {{ end }}
    
    {{ if .Params.contact }}
        {{ partial "contact.html" . }}
    {{ end }}
    
</main>
{{ end }}