{{ define "main" }}
<main>
    
    
    <section>
        <h1 class="bg-primary    padding--lg">
            {{ .Title }}
        </h1>
        <div class="container">
            <div class="text-left    container-inner">
                {{ .Content }}
                {{ if .Params.toggle_card_list_section }}
                {{ partial "card-list.html" . }}
                {{ end }}
            </div>
            {{ if ne .Pages nil }}
            <div class="container-inner">
                <h2 class="h3">
                    Learn more about {{ .Title }}:
                </h2>
                <ul class="list-group">
                    {{ range .Pages }}
                    <li class="card   bg-light   margin-top-spacer    animated  fadeInSmall    animateWhenVisible">
                        <h3 class="h4">
                            <a href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </h3>
                        {{ .Summary | plainify }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </section>
        
        {{ if .Params.about }}
        {{ partial "about.html" . }}
        {{ end }}
        
        {{ if .Params.contact }}
        {{ partial "contact.html" . }}
        {{ end }}
        
    </main>
    {{ end }}
    