<div class="container">
    <h2 class="">We may work well together if you are:</h2>
    <ul class="stack">
        <li>
            <div class="card    rounded    bg-light">
                {{ .Params.cardlist.one }}
            </div>
        </li>
        <li> 
            <div class="card    rounded     bg-light">
                {{ .Params.cardlist.two }}
            </div>
        </li>
        <li>
            <div class="card     rounded     bg-light">
                {{ .Params.cardlist.three }}
            </div>
        </li>
    </ul>
    
</div>