    <h2 class="">We may work well together if you are:</h2>
    <ul class="grid-container--auto    list-group">
        <li class="card    rounded    bg-light    animateWhenVisible">
            {{ .Params.cardlist.one }}
        </li>
        <li class="card    rounded     bg-light    animateWhenVisible">
            {{ .Params.cardlist.two }}
        </li>
        <li class="card     rounded     bg-light    animateWhenVisible">
            {{ .Params.cardlist.three }}
        </li>
    </ul>
    