    
    <div id="contact" class="text-left    ">
        <h2 class="h1    bg-primary    padding--lg">Contact Me</h2>
        <form class="container    padding-x--lg" action="https://formspree.io/tiffanyhootontherapy@protonmail.com" method="POST">
            <div class="form-row">
                <label for="name">First Name</label>
                <input type="text" class="" name="name" id="name" placeholder="Your First Name" required>
            </div>
            <div class="form-row">
                <label for="email">Email Address</label>
                <input type="email" class="" id="email" name="_replyto" placeholder="name@example.com">
            </div>
            <div class="form-row">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="111-222-3333" required>
            </div>
            <div class="form-row">
                <label for="message">Include a brief message to Tiffany. Please do not include any protected health information.</label>
            </div>
            <div class="form-row">
                <textarea class="" id="message" name="message" rows="6" cols="12" placeholder="Write your message here." ></textarea>
            </div>
            <div class="form-row">
                <input type="submit" class="" value="Send">
            </div>
        </form>
        <div class="container-inner">
            <ul class="stack    grid-container list-group    ">
                <li class="bg-light    padding-x--lg">
                    <h3 class="">Contact Information</h3>
                    <p> 
                        Office:
                        <a href="{{ .Site.Data.settings.addressLink }}" rel="noreferrer noopener" target="_blank" class="anchor">
                            {{ .Site.Data.settings.address }}
                        </a><br>
                        <small>
                            <em>
                                Located in Downtown Long Beach and easily accessible by public transportation.
                                
                                Unfortunately, the office currently requires climbing stairs to access.
                            </em>
                        </small>
                    </p>
                    <p>
                        Phone: 
                        <a href="tel:{{ .Site.Data.settings.phone }}" class="anchor">
                            {{ .Site.Data.settings.phone }}
                        </a>
                    </p>
                    <p>
                        Email:
                        <a class="anchor" href="mailto:{{ .Site.Data.settings.email }}">
                            {{ .Site.Data.settings.email }}
                        </a>
                    </p>
                </li>
                <li class="card--image-header    bg-light   text-center    measure">
                    <figure class="card--image-header__img">
                        <img src="/assets/images/tiff-image.jpg" alt="A photo of Tiffany" width="100%" height="450px"> 
                    </figure>
                    <div class="card--image-header__txt">
                        <p>
                            Thanks for visiting my site! You dont' have to go it alone. If you're struggling, reach out.
                        </p>
                        <p>
                            And, most importantly,<br> 
                            <span class="h2">
                                breathe
                            </span>
                        </p>
                        <!-- Professional verification provided by Psychology Today -->
                        <div class="flex-column">
                        <a href="https://www.psychologytoday.com/profile/703413" target="blank" rel="noopener   noreferer" class="sx-verified-seal"></a>
                        <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="11" data-id="703413" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
                        <!-- End Verification -->
                        <small>Click the logo <i class="fas fa-arrow-up"></i> to view my profile</small>
                        </div>
                    </div>
                </li>
                <li class="bg-light    padding-x--lg">
                    <h3 class="">Associate Registration & Supervision</h3>
                    <p>
                        AMFT #115397 | APCC #6793
                    </p>
                    <p>
                        Under the supervision of <a href="http://monicaprovence.com" rel="noopener noreferrer" target="_blank" class="anchor">Monica Provence</a>, LMFT #87245
                    </p>
                </li>
            </ul>
        </div>
    </div>
    