    <div id="contact" class="grid-container   text-left">
        <form class="container-inner   grid-item--1-of-2" action="https://formspree.io/tiffanyhootontherapy@protonmail.com" method="POST">
            <h2 class="">Need an appointment?</h2>
            <h3>Contact Me</h3>
            <div class="form-row">
                <label for="name">First Name</label>
                <input type="text" class="" name="name" id="name" placeholder="Your First Name" required>
            </div>
            <div class="form-row">
                <label for="email">Email Address</label>
                <input type="email" class="" id="email" name="_replyto" placeholder="name@example.com">
            </div>
            <div class="form-row">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="111-222-3333" required>
            </div>
            <div class="form-row">
                <label for="message">Include a brief message to Tiffany. Please do not include any protected health information.</label>
            </div>
            <div class="form-row">
                <textarea class="" id="message" name="message" rows="6" cols="18" placeholder="Write your message here." ></textarea>
            </div>
            <div class="form-row">
                <input type="submit" class="" value="Send">
            </div>
        </form>
        <div class="stack    container-inner   grid-item--2-of-2">
            <div class="card   bg-light">
                <h4 class="">Contact Information</h4>
                <p> 
                    Office:
                    <a href="https://goo.gl/maps/Smyu8Z5PBsAWsyxy6" rel="noreferrer" class="anchor">
                        851 Pine Ave, #102, Long Beach, CA 90813
                    </a>
                </p>
                <p>
                    Phone: 
                    <a href="tel:714-500-7756" class="anchor">
                        714-500-7756
                    </a>
                </p>
                <p>
                    Email:
                    <a class="anchor" href="mailto:tiffanyhootontherapy@protonmail.com">
                        TiffanyHootonTherapy@protonmail.com
                    </a>
                </p>
                <a href="https://www.psychologytoday.com/us/therapists/tiffany-hooton-long-beach-ca/703413?sid=5d9d09a0f10f3" rel="noreferrer noopener" target="_blank" class="anchor--button--primary">
                    View my Psychology Today profile
                </a>
            </div>
            <div class="card   bg-light">
                <h4>Associate Registration & Supervision</h4>
                <p>
                    AMFT #115397 | APCC #6793
                </p>
                <p>
                    Under the supervision of <a href="http://monicaprovence.com" rel="noopener noreferrer" target="_blank" class="anchor">Monica Provence</a>, LMFT #87245
                </p>
            </div>