<header class="banner-main   color-off-white    " id="site-title">
    <div class="container   padding--lg">
        <hr>
        {{ partial "navigation.html" . }}
        <p class="h3">
            Affirming Therapy<br><span class="text-small   h4">with Tiffany Hooton</span></p>
            <hr>
            {{ if .Params.intro.toggle }}
            {{ with .Params.intro }}
            <div class="fadeInLeftBig animated       measure    ">
                <p class="h1    ">{{ .Params.Intro.Title }}</p>
                {{ .Params.Intro.Body | markdownify }}
                <div class="container">
                    <a href="#contact" class="anchor--button--primary">
                        Contact Me for a Free Consultation 
                    </a>
                </div>
            </div>
            {{ end }}
            {{ else }}
            <div class="fadeInLeftBig animated       measure    ">
                <p class="h3    ">{{ .Title }}</p>
            </div>
            {{ end }}
        </div>
    </header>
    