<header class="banner-main   color-off-white    " id="site-title">
    <div class="container   padding--lg">
        <hr>
        {{ partial "navigation.html" . }}
        <p class="h3">
            Affirming Therapy<br><span class="text-small   h4">with Tiffany Hooton</span></p>
            <hr>
            <div class="fadeInLeftBig animated       measure    ">
                <p class="h1    ">{{ .Params.intro.title }}</p>
                {{ .Params.intro.body | markdownify }}
                <div class="container">
                    <a href="#contact" class="anchor--button--primary">
                        Contact Me for a Free Consultation 
                    </a>
                </div>
            </div>
        </div>
    </header>
    