<nav class="navbar    container"  id="navbar">
    <button id="menu-toggler" class="nav-toggle-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div>Menu</div>
        <i class="fas fa-bars"></i>
    </button>
    
    <div class="nav-content" id="navbarSupportedContent">
        <ul class="nav-links">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li>
                <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
