<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap" rel="stylesheet">
        <meta name="keywords" content="therapy, Long Beach, LGBT, mental health">
        <meta name="description" content="Depressed, anxious or struggling? Learn more about person-centered, queer and gender affirming therapy in the Long Beach area.">
        <meta property="og:title"       content="Tiffany Hooton Therapy">
        <meta property="og:site_name"   content="Tiffany Hooton Therapy | tiffanyhootontherapy.neocities.org">
        <meta property="og:type"        content="website">
        <meta property="og:url"         content="https://www.tiffanyhootontherapy.neocities.org">
        <meta property="og:description" content="Queer & Gender Affirming Therapy in Long Beach">


        <link href="https://tiffanyhootontherapy.neocities.org" rel="canonical">
    </head>
    <body>
        {{ .Content }}
    </body>
</html>