// Breakpoints
$bp-small: 48rem; // 768px
$bp-medium: 64rem; // 1024px
$bp-large: 85.375rem; // 1366px
$bp-xlarge: 120rem; // 1920px
$bp-xxlarge: 160rem; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1.1rem;

// Line-Height
$base-line-height: 1.45;
$header-line-height: 1.15;


$theme-color: hsla(329, 61%, 61%, 100%) !default;
$theme-color-muted: scale-color($theme-color, $lightness: -20%, $saturation: -10%) !default;
$accent-color: #6C80FD !default;
$accent-color-muted: scale-color($accent-color, $lightness: -20%, $saturation: -10%) !default;

$hero-image: "/assets/images/waves.jpg" !default;
$body-image: "/assets/images/mountains.jpg" !default;

$main-font: "Lato" !default;
$header-font: "Poppins" !default;